@font-face {
  font-family: 'Mona Sans';
  src: url('Mona-Sans.woff2') format('woff2 supports variations'),
    url('Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply w-[95%] lg:w-[90%] mx-auto;
}

:root {
  font-family: 'Mona Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --pryColor: #076a39;
  --secColor: #7fd159;
  --white: #fff;
  --black: #080a09;
  --Grey1: #393b3a;
  --Grey2: #8d8e8e;
  --Grey3: #bdc0ce;
  --Grey4: #e6e6e6;
  --Grey5: #bcbcbd;
  --Grey6: #7e8494;
  --Line: #e5e7ef;
  --rated: #ebc351;
  --positive: #20af0b;
  --negative: #ff3b2d;
  --receiver: #eeeff2;
  --sender: #3b70fb;
  --lightPryColor: #daacf9;
}

a {
  text-decoration: none;
  color: var(--black);
}

a:hover {
  color: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  /* max-width: 1800px; */
  font-family: 'Mona Sans', sans-serif;
  color: var(--black);
  background: #f4f4f3;
}

strong {
  font-weight: bold;
}

.App {
  width: 100%;
}

.line {
  border: solid 1px var(--Grey4);
}

.border {
  border-color: var(--Grey4);
}

.hLine {
  height: 1px;
  background: var(--Grey4);
}

.card {
  border: solid 1px var(--Grey5);
  border-radius: 8px;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background: none;
}

img {
  width: 100% !important;
  height: auto;
}

figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
small {
  margin: 0;
  padding: 0;
  color: var(--black);
}

h1,
h2 {
  font-size: 1.9rem;
  line-height: 1.1;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

h4 {
  font-size: 1.1rem;
  font-weight: 500;
}

p {
  font-size: 0.9rem;
  font-weight: 300;
}

em {
  color: var(--negative);
  font-size: inherit;
}

/* ==== General Styles Start ==== */

.form-controls {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

select {
  appearance: none;
  -ms-progress-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url('./assets/selectIcon.svg') no-repeat;
  background-position: 95% 50%;
}

/* ===Dashboard sidebar start=== */

.sidebarActive {
  border-radius: 10px;
  background: var(--pryColor);
  color: var(--white);
  width: fit-content;
  padding: 0.6em;
  margin: 0.5em 0;
  font-size: 0.9rem;
}

.sidebarActive h4,
.sidebarActive a {
  color: var(--white);
}

.sidebarActive svg [stroke] {
  stroke: var(--white);
}

/* .sidebarActive svg {
  fill: none;
} */

svg[Attributes] {
  width: 100%;
  height: 100%;
}

.sidebarNotActive {
  color: var(--Grey1);
  width: fit-content;
  padding: 0.6em;
  margin: 0.5em 0;
}

.sidebarNotActive h4 {
  font-size: 0.9rem;
  color: var(--Grey1);
}

.sidebarNotActive [stroke] {
  stroke: var(--Grey1);
}

.sidebarNotActive,
.sidebarActive {
  cursor: pointer;
}
/* ===Dashboard sidebar end=== */

.small {
  font-size: 1rem;
  color: var(--Grey3);
  font-weight: 500;
}

/* ====Btns==== */

.main-btn {
  background: var(--pryColor);
  border-radius: 8px;
  padding: 0.6em 2em;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
}

.sec-btn {
  background: var(--secColor);
  border-radius: 4px;
  padding: 0.6em 2em;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
}

.outline-btn {
  border: solid 1px var(--pryColor);
  border-radius: 4px;
  padding: 0.6em 2em;
  font-size: 1rem;
  font-weight: 600;
  color: var(--pryColor);
}

.negative-btn {
  border: solid 1px var(--negative);
  border-radius: 4px;
  padding: 0.6em 2em;
  font-size: 1rem;
  font-weight: 600;
  color: var(--negative);
}

.positive-btn {
  border: solid 1px var(--positive);
  border-radius: 4px;
  padding: 0.6em 2em;
  font-size: 1rem;
  font-weight: 600;
  color: var(--positive);
}

.outline-dark {
  border: solid 1px var(--Grey4);
  border-radius: 8px;
  padding: 0.6em 2em;
  font-size: 1rem;
  font-weight: 600;
  color: var(--black);
}

.main-btn.disabled,
.main-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.deleteIcon {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  display: grid;
  place-items: center;
  background-color: var(--negative);
  color: var(--white);
  /* padding: 0.5em; */
  cursor: pointer;
}

/* ====Btns==== */

.errors {
  border: solid var(--negative) 1px !important;
}

.error_message {
  color: var(--negative);
  font-weight: 300;
  font-size: 14px;
}

.positive {
  color: var(--positive);
}

.form-controls:disabled {
  opacity: 0.3 !important;
}

.rated {
  color: var(--rated);
  cursor: pointer;
}

.noRating {
  color: var(--Grey3);
  cursor: pointer;
}

.noRating:hover {
  color: var(--rated);
}

/* ==== General Styles End==== */

/* ==== Search Comp start==== */
.search {
  position: relative;
}

.search input {
  display: flex;
  padding: 0.75rem 3.375rem 0.75rem 3.1875rem;
  border-radius: 0.5rem;
  padding-left: 3rem !important;
  border: 1px solid #e5e7ef;
  border-radius: 15px;
}

.searchIcon {
  position: absolute;
  font-size: 1.5rem;
  right: 1%;
  color: var(--Grey6);
}

/* ==== Search Comp start==== */

/* ===Main tab class start === */
.tabContents {
  margin-top: 1em;
}

.tabTitle {
  cursor: pointer;
}

.tabTitle h4 {
  font-size: 1rem;
  font-weight: 600;
}

.active {
  color: var(--pryColor);
  padding: 0.8em 1.5em;
  border-bottom: solid 2px var(--pryColor);
}

.active h4 {
  color: var(--pryColor);
}

.notActive {
  color: var(--Grey6);
  padding: 0.8em 1.5em;
  border-bottom: solid 2px var(--Grey5);
}

.notActive h4 {
  color: var(--Grey6);
}

.activeTab,
.notActiveTab {
  padding: 0.5em 0.8em;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.activeTab {
  border-radius: 8px;
  background: color-mix(in sRGB, var(--secColor) 10%, transparent 90%);
}

.activeTab h4 {
  color: var(--secColor);
  font-weight: 700;
}

.notActiveTab h4 {
  font-weight: 700;
}

@media screen and (max-width: 900px) {
  .activeTab,
  .notActiveTab {
    padding: 0.5em 0.4em;
  }
}

/* ===Main tab class end=== */

hr {
  color: var(--Grey4);
  margin: 0;
}

.close {
  width: 24px;
  height: 24px;
  background: color-mix(in srgb, var(--secColor) 20%, transparent 80%);
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: var(--Grey2);
}

/* ====Inputs Starts==== */

input::placeholder {
  font-size: 13px;
  font-weight: 200;
  color: var(--Grey6) !important;
}

input[type='radio'] {
  width: 1.5em;
  height: 1.5em;
  border: solid 1px var(--Grey2);
}

input:checked[type='radio'] {
  width: 1.5em;
  height: 1.5em;
  border: solid 1px var(--Grey2);
  background-color: var(--pryColor);
}

textarea,
select,
input {
  padding: 0.77em 1em !important;
}

textarea:focus,
select:focus,
input:focus {
  border: solid 2.1px var(--pryColor);
  outline: 0;
  border-radius: 8px;
}

/* ====Inputs End ==== */

.popUpMenu {
  border-radius: 5px;
  padding: 0.7em 1.5em;
  background: var(--white);
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.16);
  position: absolute;
  top: 10px;
  right: 50px;
  width: 20%;
  z-index: 5;
}

.popUpMenu .moreItems {
  font-size: 0.8rem;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: solid 1px var(--Grey5);
  cursor: pointer;
  color: var(--black);
}

.popUpMenu .moreItems:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: solid 0px var(--Grey5);
  color: var(--negative);
}

.emptyStateContainer {
  display: flex;
  place-content: center;
  border: solid 1px var(--Line);
  border-radius: 8px;
  padding: 5em 2em;
}

.yLine {
  border-left: 1px solid var(--Grey5);
  height: 100vh;
}

.userInitials,
.messageAvatar,
.userInitials_nav {
  font-size: 1.5em;
  font-weight: 600;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  cursor: pointer;
  overflow: hidden;
  object-fit: cover;
}

.userInitials_nav {
  width: 56px;
  height: 56px;
}

.messageAvatar {
  width: 40px;
  height: 40px;
}

.side {
  border-right: solid 1px var(--Grey5);
}

.border-bottom,
.border-top {
  border-color: var(--Grey5) !important;
}

.labelTitle {
  font-size: 0.875rem;
  color: var(--Grey1);
  margin-bottom: 0.3em;
}

/* Input with icons init */
.inputContainer {
  position: relative;
  .icon {
    position: absolute;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 0;
    color: var(--Grey3);
  }
}

.star {
  width: 1.5em;
  height: 1.5em;
}

/* === Pagination styles start ==== */
.paginContainer {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-weight: 700;
}

.paginContainer a {
  display: block;
  width: 2.5em;
  height: 2.5em;
  border: 1px solid var(--Grey3);
  color: var(--Grey3);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginContainer a:hover {
  background-color: var(--white);
}

.paginContainer .activePage a {
  border: 1px solid var(--pryColor);
  color: var(--pryColor);
  width: 2.5em;
  height: 2.5em;
}

.paginContainer .disabled a {
  pointer-events: none;
  background-color: grey; /* Adjust the color for the disabled state */
  border: 1px solid lightgrey; /* Adjust the border color for the disabled state */
}

/* === Pagination styles end ==== */

.inputWrapper {
  width: 100%;
}

.inputWrapper small {
  font-size: 0.8rem;
  font-weight: 500;
}

@media screen and (min-width: 500px) {
  .inputWrapper {
    width: 48%;
  }
}

@media screen and (max-width: 900px) {
  h1,
  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1rem;
  }

  p {
    font-size: 0.9rem;
  }
}
